p#content{
    align-content: justify;
    text-align: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-style: italic;
    word-break: break-all; 
}